@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #000502;
  --card: #ffffff;
  --card-foreground: #000502;
  --popover: #ffffff;
  --popover-foreground: #000502;
  --primary: #00b591;
  --primary-foreground: #ffffff;
  --secondary: #ecefed;
  --secondary-foreground: #153828;
  --muted: #f4f5f5;
  --muted-foreground: #5e6561;
  --accent: #acf7e0;
  --accent-foreground: #153828;
  --destructive: #ff0000;
  --destructive-foreground: #ffffff;
  --border: #dbdfdd;
  --input: #dbdfdd;
  --ring: #00b591;
}

.dark {
  --background: #000502;
  --foreground: #ffffff;
  --card: #040e09;
  --card-foreground: #ffffff;
  --popover: #040e09;
  --popover-foreground: #ffffff;
  --primary: #00b591;
  --primary-foreground: #000502;
  --secondary: #153828;
  --secondary-foreground: #ffffff;
  --muted: #19251f;
  --muted-foreground: #99a09c;
  --accent: #6de7c8;
  --accent-foreground: #000502;
  --destructive: #ff0000;
  --destructive-foreground: #ffffff;
  --border: #19251f;
  --input: #19251f;
  --ring: #00b591;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
